aside.sidebar
  .sidebar__content
    h2 Guides
    - var navItems = [{heading:"Getting Started",url:"/guides/start/index.html",sections: getCollection("startGuides").toJSON()},{heading:"PhoneGap CLI",url:"/guides/cli/index.html",sections: getCollection("cliGuides").toJSON()},{heading:"PhoneGap Desktop",url:"/guides/desktop/index.html",sections: getCollection("desktopGuides").toJSON()},{heading:"Configure",url:"/guides/configure/index.html", sections: getCollection("configGuides").toJSON()} ];
    each navItem in navItems
      nav.sidebar__list
        h3: a(href=navItem.url+"#")= navItem.heading
        if (document.url == navItem.url)
          ul
              each guide in navItem.sections
                  li: a(href="/guides/start/index.html#"+guide.basename)!=guide.title
